<script setup>
import AutoComplete from 'primevue/autocomplete';
import { ref } from 'vue';
import axios from 'axios';
import { Head, Link } from '@inertiajs/vue3';

const search = ref('');
const filteredLocations = ref([]);

const performSearch = async () => {
    try {
        const response = await axios.post('/api/search-locations', {
            search: search.value,
        });
        console.log(response.data.locations)
        filteredLocations.value = response.data.locations;
    } catch (error) {
        console.error('Error al realizar la búsqueda:', error);
        filteredLocations.value = [];
    }
};


</script>

<template>
    <div>
        <AutoComplete v-model="search" optionLabel="name" :suggestions="filteredLocations" @input="performSearch" />
    </div>
</template>


