<template>
    <div>
        <form @submit.prevent="search">
            <input v-model="form.search" placeholder="Buscar ubicaciones..." />
            <button type="submit">Buscar</button>
        </form>

        <div v-if="filteredLocations.length > 0">
            <ul>
                <li v-for="location in filteredLocations" :key="location.id">
                    {{ location.name }}
                </li>
            </ul>
        </div>
        <div v-else>No se encontraron resultados.</div>
    </div>
</template>

<script setup>
import { useForm } from '@inertiajs/inertia-vue3';
import { ref } from 'vue';

const form = useForm({
    search: '',
});

const filteredLocations = ref([]);

const search = () => {
    form.post('/api/locations/search', {
        onSuccess: (page) => {
            // Asume que los resultados de la búsqueda se devuelven en 'page.props.locations'
            filteredLocations.value = page.props.locations;
        },
        onError: (errors) => {
            console.error(errors);
            filteredLocations.value = [];
        },
        preserveScroll: true,
        preserveState: true,
    });
};
</script>
